<div>
	<p>Search:</p>
	<input type="text">
	<p>Filter by category:</p>
	<button>Science</button>
	<button>Computing</button>
	<button>Engineering</button>
	<p>Filter by added date:</p>
	<button>Newest</button>
	<button>Oldest</button>
	<p>Filter by deadline:</p>
	<button>Upcoming</button>
	<button>Furthest</button>
</div>
<div>
	<img src="http://fakeimg.pl/50x50/?text=Company Logo">
	<p>Job spec title</p>
	<p>Job spec description</p>
	<button>Apply</button>
<div>
<div>
	<img src="http://fakeimg.pl/50x50/?text=Company Logo">
	<p>Job spec title</p>
	<p>Job spec description</p>
	<button>Apply</button>
<div>



