
%p we would love to hear from you
%p You can contact us  at our office or social media
%p Office Address
%p Penryhn road
%P Kingston Upon thames
%p Surrey
%p KT1 2EE
%form
  %p User name
  %input{:name => "username", :type => "text"}
  %p Email:
  %input{:name => "email", :type => "text"}
  %p RE
  %input{:name => "subject", :type => "text"}
  %p Messsage
  %textarea{:cols => "50", :name => "message", :rows => "20"}