<div class="text-box">
  <h1>Welcome to our CV creator!</h1>
  <h3>Create an accout, log in and apply for your dream job!</p>
  <nav>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Log in", new_user_session_path %>
  </nav>
</div>
