<div class="feedback">
  <div class="feedback-info">
    <table>
      <tr> 
        <td>Staff member:</td>
        <td>Michael Scofield</td>
      </tr>
      <tr>
        <td>Created for:</td>
        <td>Job spec title</td>
      </tr>
      <tr>
        <td>Created date:</td>
        <td>19/01/2015 14:10</td>
      <tr>
        <td>Feedback status:</td>
        <td class="feedback-status <%= @feedback_status %>"><%= @feedback_status %></td>
      </tr>
    </table>

    <div class="buttons">
      <button>Edit CV</button>
      <button>Send new CV</button>
    </div>
  </div>
</div>
<div class="feedback-cv-preview">CV PREVIEW</div>