<% @cvs.each do |cv| %>
  <div class="cv-box">
    <div class="cv-preview">CV PREVIEW</div>
    <div class="cv-details">
      <div class="header">Details</div>
      <table>
        <tr>
          <td>Created for:</td>
          <td>Job spec title</td>
        </tr>
        <tr>
          <td>Created date:</td>
          <td><%= cv.created_at.strftime("%H:%m %d.%m.%Y") %></td>
        </tr>
        <tr>
          <td>Feedback status:</td>
          <td class="feedback-status accepted">
            <%= link_to 'accepted', feedback_preview_cvs_path %>
          </td>
        </tr>
      </table>
      <div class="buttons center">
        <%= link_to "Edit CV", edit_cv_path(cv), class: "big-btn" %>
        <button>Send CV</button>
      </div>
    </div>
  </div>
<% end %>