.feedback
  .feedback-info
    %table
      %tr
        %td Staff member:
        %td Michael Scofield
      %tr
        %td Created for:
        %td Job spec title
      %tr
        %td Created date:
        %td= @feedback.created_at
      %tr
        %td Feedback status:
        - if @feedback.status
          %td{:class => "feedback-status #{@feedback.status}"}= @feedback.status
        - else
          %td{:class => "feedback-status"} request for feedback
    .buttons
      %button Edit CV
      %button Send new CV
.feedback-cv-preview CV PREVIEW
