@import url(http://fonts.googleapis.com/css?family=Belleza)

*
  margin: 0
  padding: 0
  font-family: 'Belleza', 'Ubuntu', 'Verdana', sans-serif
  font-size: 17px

html
  height: 100%

#container
  width: 60vw
  margin: 0 auto
  padding: 1vw

.white-background
  background-color: white
  padding: 10px

.bold
  font-weight: bold

.center
  text-align: center

a.link
  color: black
  text-decoration: none
  border-bottom: 1px dotted black
  display: inline-block
  &:hover
    border-bottom: 1px solid black

header
  background-color: rgba(0,0,0,.8)
  height: 80px

  a.logo
    display: inline-block
    font-size: 24px
    text-decoration: none
    margin-top: 16px
    margin-left: 150px
    padding: 10px
    width: 200px
    color: white

  nav
    display: inline-block
    position: absolute
    top: 22px
    right: 100px
    ul
      list-style-type: none
      li
        display: inline-block
        margin-left: 20px
        a
          font-size: 19px
          display: block
          padding: 8px 30px
          color: white
          text-decoration: none
          border-radius: 5px
          transition: .3s all
          &:hover
            background-color: white
            color: black

.special-message
  background-color: white
  background-image: image-url("linedpaper.png")
  box-shadow: 0 5px 30px black
  text-align: center
  margin: 0 auto
  padding: 50px
  width: 60%
  p 
    font-size: 22px
    font-weight: bold
    img
      margin-top: 50px