.cv-box {
  background-color: #bababa;
  width: 800px;
  min-height: 260px;
  margin: 50px auto;
  display: table;
}

.cv-preview, .cv-details {
  display: table-cell;
  width: 400px;
}

.cv-preview {
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
}

.cv-details {
  border-left: 1px solid black;
}

.cv-details .header {
  border-bottom: 1px solid black;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

.cv-details table {
  padding: 20px 25px;
}

.cv-details table tr {
  line-height: 30px;
}

.cv-details table tr td:first-child {
  padding-right: 10px;
  font-weight: bold;
}

.cv-details .buttons button {
  display: inline-block;
  margin: 0 5px;
}